.vscode
cpp/build
cpp/External

python/__pycache__/
python/*.pyc
python/mpcc/__pycache__/
python/mpcc/*.pyc
python/debug.txt
python/spline_path.txt
python/simulation_path.txt
python/test.py
python/test.ipynb
python/simulation.py
python/bo_mpcc.ipynb